.text-deeppink {
  color: deeppink;
}

.text-cornsilk {
  color: cornsilk;
}

.text-dodgerblue {
  color: dodgerblue;
}

.bg-darkcyan {
  background-color: darkcyan;
}

.bg-cornsilk {
  background-color: cornsilk;
}

.bg-ghostwhite {
  background-color: GhostWhite;
}

.responsible-list li {
  background: transparent;
}

.project-name {
  font-weight: bold;
}

.project-table {
  border: 1px solid #666;
  border-collapse: collapse;
}

.avatar {
  max-width: 120px;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-link {
  text-decoration: none;
}

.contact-icon {
  min-width: 25px;
  max-width: 30px;
}

.skill-icon {
  min-width: 100px;
  max-width: 120px;
}

.it-terms {
  color: gray;
}

.cursor-pointer {
  cursor: pointer;
}

.certification-img {
  max-width: 12rem;
}

.no-over-size {
  border: 0;
  margin: 0;
  padding: 0;
}

.main-skill {
  background-color: Aquamarine;
}

.tabs {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tabs__item {
  padding: 8px;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 4px;
}

.tabs__link {
  text-decoration: none;
}
