.text-deeppink {
  color: deeppink;
}

.text-cornsilk {
  color: cornsilk;
}

.bg-darkcyan {
  background-color: darkcyan;
}

.bg-cornsilk {
  background-color: cornsilk;
}

.avatar {
  max-width: 120px;
}

.icon {
  min-width: 25px;
}
