/* Common */
.no-over-size {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #306998;
  padding: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Download */
.download-cv {
  display: flex;
  justify-content: flex-end;
}

.download-btn {
  background: transparent;
}

.download-btn__icon {
  min-width: 25px;
  max-width: 30px;
}

/* Avatar */
.avatar {
  display: flex;
  justify-content: center;
}

.avatar__img {
  max-width: 120px;
  border-radius: 50%;
}

/* Name and Major */
.my-name {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.my-major {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

/* Contacts line */
.contacts-line {
  padding: 8px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.contacts-line-item {
  list-style-type: none;
  padding: 8px;
}

.contacts-line-item__icon {
  min-width: 25px;
  max-width: 30px;
}

/* Tabs */
.tabs {
  background-color: #4b8bbe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tabs__item {
  padding: 8px;
  border-radius: 8px;
  margin: 4px;
  font-size: 1.2rem;
}

.tabs__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.tab--active {
  background-color: #fff;
}

.tab--active a {
  color: #000;
}

/* About page */
.about-page {
  background-color: #fff;
  padding: 16px;
}

.about-page__title {
  font-size: 2rem;
  text-align: center;
}

.info-contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 16px;
}

.info-tbl-wrapper {
  padding: 8px;
}

.info-tbl {
  display: table;
  border-collapse: separate;
  border-spacing: 4px;
}

.info-tbl td {
  border: 1px solid black;
  padding: 8px;
}

.info-tbl tr td:nth-child(odd) {
  background: #e7e9eb;
}

.info-tbl tr td:first-child {
  font-weight: 600;
}

.contact-tbl-wrapper {
  padding: 8px;
}

.contact-tbl {
  display: table;
  border-collapse: separate;
  border-spacing: 4px;
}

.contact-tbl td {
  border: 1px solid black;
  padding: 8px;
}

.contact-tbl tr td:nth-child(odd) {
  background: #e7e9eb;
}

.contact-tbl__link {
  text-decoration: none;
}

/* Education page */
.edu-page {
  background-color: #fff;
  padding: 16px;
}

.edu-page__time {
  font-size: 1.2rem;
  color: blue;
}

.edu-page__title {
  font-size: 2rem;
  text-align: center;
}

.edu-tbl-wrapper {
  padding: 8px;
}

.edu-tbl {
  display: table;
  border-collapse: separate;
  border-spacing: 4px;
}

.edu-tbl td {
  border: 1px solid black;
  padding: 8px;
}

.edu-tbl tr:nth-child(odd) {
  background: #e7e9eb;
}

.edu-tbl tr td:first-child {
  font-weight: 600;
}

.year-subjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.year-subjects__subject-wrapper {
  padding: 4px;
  background-color: transparent;
}

.year-subjects__subject {
  padding: 8px;
  border-radius: 4px;
  color: #fff;
}

.year-subjects__subject--english {
  background-color: #fa8072;
}

.year-subjects__subject--dev {
  background-color: #fa5f55;
}

/* Work exp page */
.work-exp-page {
  background-color: #fff;
  padding: 16px;
}

.work-place {
  padding-top: 16px;
}

.work-place__time {
  font-size: 1.2rem;
  color: blue;
}

.work-place__name {
  font-size: 2rem;
  text-align: center;
}

.work-place__tech-summary {
  font-size: 1.2rem;
  text-align: center;
}

.work-place-tbl-wrapper {
  padding: 8px;
}

.work-place-tbl {
  display: table;
  border-collapse: separate;
  border-spacing: 4px;
}

.work-place-tbl td {
  border: 1px solid black;
  padding: 8px;
}

.work-place-tbl tr:nth-child(odd) {
  background: #e7e9eb;
}

.work-place-tbl tr td:first-child {
  font-weight: 600;
}

/* Skills page */
.skills-page {
  background-color: #fff;
  padding: 16px;
}

.skills-page__title {
  font-size: 2rem;
  text-align: center;
}

.main-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 16px;
}

.skill {
  padding: 8px;
}

.skill__icon-wrapper {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.skill__icon {
  min-width: 100px;
  max-width: 120px;
}

.other-skills-wrapper {
  padding-top: 16px;
}

.other-skills-title {
  font-size: 1.2rem;
  text-align: center;
}

.other-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.other-skills__skill-wrapper {
  padding: 4px;
  background-color: transparent;
}

.other-skills__skill {
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #fa5f55;
}

/* Tools page */
.tools-page {
  background-color: #fff;
  padding: 16px;
}

.tools-page__title {
  font-size: 2rem;
  text-align: center;
}

.main-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.tool {
  padding: 8px;
}

.tool__wrapper {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.tool__icon {
  min-width: 100px;
  max-width: 120px;
}

.other-tools-wrapper {
  padding-top: 16px;
}

.other-tools-title {
  font-size: 1.2rem;
  text-align: center;
}

.other-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.other-tools__tool-wrapper {
  padding: 4px;
  background-color: transparent;
}

.other-tools__tool {
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #fa5f55;
}

/* IT terms page */
.terms-page {
  background-color: #fff;
  padding: 16px;
}

.terms-page__title {
  font-size: 2rem;
  text-align: center;
}

.all-terms-wrapper {
  padding-top: 24px;
}

.all-terms {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.term__wrapper {
  padding: 4px;
  background-color: transparent;
}

.term__term {
  padding: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #fa5f55;
  border-radius: 8px;
}

/* Img page */
.img-page {
  background-color: #fff;
  padding: 16px;
}

.work-place-imgs {
  padding-top: 16px;
}

.work-place-imgs__time {
  font-size: 1.2rem;
  color: blue;
}

.work-place-imgs__name {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 16px;
}

.work-place-imgs__img {
  width: 100%;
}

.work-place-imgs__descr {
  text-align: center;
}

/* Footer */
.footer {
  background-color: #306998;
  padding: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
