/* Common */
.no-over-size {
  border: 0;
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

/* Text colors */
.text-cornsilk {
  color: cornsilk;
}

.text-dodgerblue {
  color: dodgerblue;
}

/* Bg colors */
.bg-darkcyan {
  background-color: darkcyan;
}

.bg-cornsilk {
  background-color: cornsilk;
}

.bg-ghostwhite {
  background-color: GhostWhite;
}

/* Avatar */
.avatar {
  max-width: 120px;
}

/* Responsible */
.responsible-list li {
  background: transparent;
}

/* Tables */
.cv-table__wrapper {
  border: 1px solid #666;
  border-radius: 8px;
  padding: 8px;
}

.cv-table__table {
  border-collapse: collapse;
}

/* Edu */
.subject-english-tag {
  padding: 8px;
  background-color: purple;
  color: #fff;
}

.subject-dev-tag {
  padding: 8px;
  background-color: tomato;
  color: #fff;
}

/* Contact */
.contact {
  display: flex;
  justify-content: center;
}

.contact-link {
  text-decoration: none;
}

.contact-icon {
  min-width: 25px;
  max-width: 30px;
}

/* Skills */
.skill-icon {
  min-width: 100px;
  max-width: 120px;
}

.main-skill {
  background-color: Aquamarine;
}

/* Terms */
.it-terms {
  color: gray;
}

.certification-img {
  max-width: 12rem;
}

/* Tabs */
.tabs {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tabs__item {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 4px;
}

.tabs__link {
  text-decoration: none;
}

.tab--active {
  background-color: mediumturquoise;
}

.tab--active a {
  color: white;
}
