@import "custom-styles.css";

/* Reset CSS */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Font */
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: local("OpenSans"), url("../vendor/fonts/OpenSans-Regular.ttf");
}

/* Background image, base font-size */
body {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),
    url("../assets/img/backgrounds/bg-2.jpg");
  background-repeat: repeat;
  font-family: OpenSans;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Responsive */
@media only screen and (max-width: 479px) {
  .main-container {
    background-color: transparent;
    width: 100%;
  }
}

@media only screen and (min-width: 479px) {
  .main-container {
    background-color: transparent;
    max-width: 880px;
    margin: 0 auto;
  }
}
